<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
       

    </head>
    <body>
        <nav class="menuHome">
            <div class="logo">
                <a href="{{ url('home') }}">Library</a>
            </div>
            
            <ul class="menu">
                <li><a href="{{ url('home') }}">Accueil</a></li>
                <li><a href="{{ url('manga.index') }}">Manga</a></li>
            </ul>
        </nav>

        {% block body %}{% endblock %}
        </div>
        
    </body>
</html>
